.nav {
    position: fixed;
    top: 0;
    left: 0;
    background: blue;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    text-align: center;
}

.nav__logo {
    flex: 0.5;
}

.nav__logo h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}

.nav__item {
    flex: 0.5;
    text-align: center;
}

.nav__item ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav__item ul li {
    margin-left: 1rem;
}

.nav__item ul li a {
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    color: white;
}

.nav__item ul li button {
    text-decoration: none;
    padding: 0 8px;
    border-radius: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: gainsboro;
}

.nav__item ul li a:hover,
.nav__item ul li a:active,
.nav__item ul li a.active,
.nav__item ul li button:active {
    background: white;
    color: black;
}
